﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
   
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background: #000000">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AEDNIKUD", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li>@Html.ActionLink("Otsi lehelt", "Otsi", "Posts")</li>
                    <li>@Html.ActionLink("Avaleht", "Index", "Home")</li>
                    <li>@Html.ActionLink("Meeskond", "Contact", "Home")</li>
                    @* lisatud If funktsioon siin all *@
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Minu profiil", "Details", "People")</li>
                        <li>@Html.ActionLink("Minu galerii", "Index", "Posts")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div> 

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AEDNIKUD</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
