﻿@model Esimene_2._0.Models.Person

@{
    ViewBag.Title = "Delete";
}

<h1 style="color:#d9534f; font-family: 'Berlin Sans FB'">Hoiatus!</h1>

<h3 style= "font-family: 'Berlin Sans FB'">Kas oled kindel, et soovid oma profiili kustutada?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Eesnimi @*@Html.DisplayNameFor(model => model.FirstName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Perenimi @*@Html.DisplayNameFor(model => model.LastName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Meiliaadress @*@Html.DisplayNameFor(model => model.Email)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Sünnipäev @*@Html.DisplayNameFor(model => model.BirthDate)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <h4></h4>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <dd class="form-actions no-color">
                <input type="submit" value="Kustusta profiil jäädavalt" class="btn btn-danger" />


            </dd>
            <h4></h4>
            <dd class="form-actions no-color">
                @Html.ActionLink("Tagasi profiili", "Details")
            </dd>


        }

    </dl>

    <style>
        body {
            background: -webkit-linear-gradient(left, #ffffff, #a8a8a9);
        }
        .profile-head h2 {
        color: #d9534f;
    }
    </style>

</div>
