﻿@model Esimene_2._0.Models.Person

@{
    ViewBag.Title = "Details";
}

<h1 style= "font-family: 'Berlin Sans FB'">See on kasutajaprofiili leht</h1>

@*<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Meiliaadress @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Eesnimi @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Perenimi @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Sünnipäev @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            Pilt
        </dt>

        <dd>
            <img src="@Url.Action("Content", "My", new { id = Model.PictureId })" height="80" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@


<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="@Url.Action("Content", "My", new { id = Model.PictureId })" height="80" alt="" />
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h2 style= "font-family: 'Berlin Sans FB'">
                        @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
                    </h2>
                    <p>
                        Meiliaadress:  @*@Html.DisplayNameFor(model => model.Email)*@ <a> @Html.DisplayFor(model => model.Email)</a>
                    </p>
                    <p>
                        Sünnipäev: @*@Html.DisplayNameFor(model => model.BirthDate)*@ @Html.DisplayFor(model => model.BirthDate)
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <p>
                    @Html.ActionLink("Muuda profiili", "Edit", new { id = Model.Id }) 
                </p>
                <p>
                    @Html.ActionLink("Kustuta", "Delete", new { id = Model.Id })
                </p>
                @*<p>
                    @Html.ActionLink("Change your password", "ChangePassword")
                </p>*@
               @*-----siia tahaks panna lingi parooli muutmisese lehele??? ------*@

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>KASUTAJA STATISTIKA</p>
                    <a href="">Taimi andmebaasis: 0 </a><br />
                    <a href="">Taimi müügis: 0 </a><br />
                    <a href="">Kasutaja kommentaare: 0 </a>

                </div>
            </div>
        </div>

    </form>
</div>

<style>
    body {
        background: -webkit-linear-gradient(left, #ffffff, #a8a8a9);
    }

    .emp-profile {
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
    }

    .profile-img {
        text-align: center;
        border: 4px solid #5cb85c; 
    }

        .profile-img img {
            width: 100%;
            height: 100%;
        }

        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
        }

            .profile-img .file input {
                position: absolute;
                opacity: 0;
                right: 0;
                top: 0;
            }

    .profile-head h2 {
        color: #000000;
    }

    .profile-head h6 {
        color: #000000;
    }

    .profile-edit-btn {
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }


    .profile-head .nav-tabs {
        margin-bottom: 5%;
    }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

            .profile-head .nav-tabs .nav-link.active {
                border: none;
                border-bottom: 2px solid #0062cc;
            }

    .profile-work {
        padding: 14%;
        margin-top: -15%;
    }

        .profile-work p {
            font-size: 12px;
            color: #000000;
            font-weight: 600;
            margin-top: 10%;
        }

        .profile-work a {
            text-decoration: none;
            color: #000000;
            font-weight: 600;
            font-size: 14px;
        }

        .profile-work ul {
            list-style: none;
        }

    .profile-tab label {
        font-weight: 600;
    }

    .profile-tab p {
        font-weight: 600;
        color: #0062cc;
    }
   
</style>
