﻿@model IEnumerable<Esimene_2._0.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*create new, index rea alt kommenteeris kairi välja, sest seda ei ole meile siia vaja*@
@*<p>
    @Html.ActionLink("Create new", "Create")
</p>*@

<table class="table">
    <tr>
        <th>
            Meiliaadress @*@Html.DisplayNameFor(model => model.Email)*@
        </th>
        <th>
            Eesnimi @*@Html.DisplayNameFor(model => model.FirstName)*@
        </th>
        <th>
            Perenimi @*@Html.DisplayNameFor(model => model.LastName)*@
        </th>
        <th>
            Sünnipäev @*@Html.DisplayNameFor(model => model.BirthDate)*@
        </th>
        <th>
            Pilt
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            <img src="@Url.Action("Content", "My", new { id = item.PictureId })" height="80" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
