﻿@model Esimene_2._0.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Access)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Access)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFile.ContentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFile.ContentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>

    </dl>
</div>



@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<html>
<body>
    <p>@Html.ActionLink("Lisa uus postitus", "Create", "Posts")</p>
</body>
</html>
<html>
<body>
    <p>@Html.ActionLink("Vaata kõiki mu postitusi", "Index", "Posts")</p>
</body>
</html>

@*<p>@Html.ActionLink("Vaata minu profiili", "Home", "Manage")</p>   viide näiteks vaata mu profiili lehele*@


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-color: #f1f1f1;
            padding: 20px;
            font-family: Arial;
        }

        /* Center website */
        .main {
            max-width: 1000px;
            margin: auto;
        }

        h1 {
            font-size: 50px;
            word-break: break-all;
        }

        .row {
            margin: 10px -16px;
        }

            /* Add padding BETWEEN each column */
            .row,
            .row > .column {
                padding: 8px;
            }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 33.33%;
            display: none; /* Hide all elements by default */
        }

        /* Clear floats after rows */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Content */
        .content {
            background-color: white;
            padding: 10px;
        }

        /* The "show" class is added to the filtered elements */
        .show {
            display: block;
        }

        /* Style the buttons */
        .btn {
            border: none;
            outline: none;
            padding: 12px 16px;
            background-color: white;
            cursor: pointer;
        }

            .btn:hover {
                background-color: #ddd;
            }

            .btn.active {
                background-color: #666;
                color: white;
            }
    </style>
</head>
<body>

    <!-- MAIN (Center website) -->
    <div class="main">
    </div>

    <h2>SEE ON "KASUTAJA NIMI" ISIKLIK GALERII</h2>

    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('kõik')">Näita kõiki</button>
        <button class="btn" onclick="filterSelection('püsikud')">Püsikud</button>
        <button class="btn" onclick="filterSelection('üheaastased')">Üheaastased</button>
        <button class="btn" onclick="filterSelection('puud')"> Puud ja põõsad</button>
        <button class="btn" onclick="filterSelection('sibullilled')">Sibulalilled</button>
        <button class="btn" onclick="filterSelection('toataimed')">Toataimed</button>
        <button class="btn" onclick="filterSelection('varia')"> Varia</button>
    </div>

    <!-- Portfolio Gallery Grid -->
    <div class="row">
        <div class="column püsikud">
            <div class="content">
                <img src="https://images.unsplash.com/photo-1436380921399-9c9a7d6697db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" style="width:100%">
                <div class="col-md-10">
                    <h4>Iiris</h4>
                </div>
                <p>Lorem ipsum dolor..</p>
            </div>
        </div>
        <div class="column püsikud">
            <div class="content">
                <img src="https://images.unsplash.com/photo-1571710756334-b99296e8afdc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" alt="" style="width:100%">
                <h4>Iiris</h4>
                <p>Lorem ipsum dolor..</p>
            </div>
        </div>
        <div class="column püsikud">
            <div class="content">
                <img src="https://images.unsplash.com/photo-1572731561221-96d988d74dc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" alt="" style="width:100%">
                <h4>Karikakar</h4>
                <p>Lorem ipsum dolor..</p>
            </div>
        </div>

        <div class="column üheaastased">
            <div class="content">
                <img src="https://images.unsplash.com/photo-1477554193778-9562c28588c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" style="width:100%">
                <h4>Retro</h4>
                <p>Lorem ipsum dolor..</p>
            </div>
        </div>
        <div class="column üheaastased">
            <div class="content">
                <img src="https://images.unsplash.com/photo-1490349368154-73de9c9bc37c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" style="width:100%">
                <h4>Fast</h4>
                <p>Lorem ipsum dolor..</p>
            </div>
        </div>
        <div class="column üheaastased">
            <div class="content">
                <img src="https://images.unsplash.com/photo-1459664018906-085c36f472af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" style="width:100%">
                <h4>Classic</h4>
                <p>Lorem ipsum dolor..</p>
            </div>
        </div>

        <div class="column puud">
            <div class="content">
                <img src="https://images.unsplash.com/photo-1557171378-b32906a660d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" style="width:100%">
                <h4>Girl</h4>
                <p>Lorem ipsum dolor..</p>
            </div>
        </div>
        <div class="column puud">
            <div class="content">
                <img src="https://images.unsplash.com/photo-1557171378-575d4a5f609e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" style="width:100%">
                <h4>Man</h4>
                <p>Lorem ipsum dolor..</p>
            </div>
        </div>
        <div class="column puud">
            <div class="content">
                <img src="https://images.unsplash.com/photo-1556473062-062e556b0920?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" style="width:100%">
                <h4>Woman</h4>
                <p>Lorem ipsum dolor..</p>
            </div>
        </div>
        <div class="row">
            <div class="column kännud">
                <div class="content">
                    <img src="https://images.unsplash.com/photo-1436380921399-9c9a7d6697db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" style="width:100%">
                    <h4>üks känd juurde</h4>
                    <p>Lorem ipsum dolor..</p>
                </div>
            </div>
            <!-- END GRID -->
        </div>

        <!-- END MAIN -->
    </div>

    <script>
        filterSelection("kõik")
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("column");
            if (c == "kõik") c = "";
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
            }
        }

        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }


        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>

</body>
