﻿@{
    ViewBag.Title = "Contact";
}

<h1 style="font-family: 'Berlin Sans FB'">Selle veebilehega nägid vaeva</h1>
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@

<style>
    .img-circle {
        max-width: 50%;
        height: auto;
        border: 4px solid #5cb85c;
    }
        body {
        background: -webkit-linear-gradient(left, #ffffff, #a8a8a9);
    }

    .emp-profile {
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
    }
</style>

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="https://scontent-hel2-1.xx.fbcdn.net/v/t1.0-1/p240x240/31706467_1604726566306732_6721116376443912192_n.jpg?_nc_cat=105&_nc_oc=AQmIX7wAkmr4qgRTSTcKRTvyQh4TvzBg2fznpp5l7D4oYTdONvgdFo6iAnaSRJ0_JhE&_nc_ht=scontent-hel2-1.xx&oh=86062e2f04d6f783d127ce0470a3360d&oe=5E498A3D" class="img-circle">
                        <h3 class="card-title" style="font-family: 'Berlin Sans FB'">Martin</h3>
                        <p class="card-text">Meeskonna aju, oskab hästi pushida ja näeb teravalt ehk C#.</p>
                        <a style=" color: #d9534f;" href="">martinpajuvali@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="https://scontent-hel2-1.xx.fbcdn.net/v/t31.0-1/p240x240/13987631_1132354760121296_6957538772602577718_o.jpg?_nc_cat=100&_nc_oc=AQkg8ejT9QmAa8pNQCL3fefOSklGmVYQxcjKjb61swioWxOGgQ5_D6WFg_ewUp6LCW0&_nc_ht=scontent-hel2-1.xx&oh=3d87d5109853b926986128cd855512d7&oe=5E849623" class="img-circle">
                        <h3 class="card-title" style="font-family: 'Berlin Sans FB'">Anneli</h3>
                        <p class="card-text">Meeskonna tsement, ühenduslüli kahe meeskonna liikme vahel ja närib andmeid baaside vahel.</p>
                        <a style=" color: #d9534f;" href="">annelipost@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img src="https://scontent-hel2-1.xx.fbcdn.net/v/t1.0-1/c1.0.365.365a/s240x240/28872404_1783702928359264_290752428192563200_n.jpg?_nc_cat=110&_nc_oc=AQn1bj9DPYC9prBNpKRxHjR2zLtjtGRfBTzNDCluWs49bBwdegQGvKFiju_b8MCp5WI&_nc_ht=scontent-hel2-1.xx&oh=008a14dc19fc05fd2bc982c1b0bccf23&oe=5E540036" class="img-circle">
                        <h3 class="card-title" style="font-family: 'Berlin Sans FB'">Kairi</h3>
                        <p class="card-text">Meeskonna visuaalne liider, html ja css guru. Vähemalt ta ise arvab nii.</p>
                        <a style=" color: #d9534f;" href="">kirjad.kairile@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
