﻿@{
    ViewBag.Title = "Home Page";
}


<style>
    .jumbotron {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        overflow: hidden;
        max-width: 100%;
        height: auto;
        /*background-image: url(https://images.unsplash.com/photo-1505148551785-87423133ae37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);*/
        background-image: url(https://images.unsplash.com/photo-1536964310528-e47dd655ecf3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1113&q=80);

    body {
        background: -webkit-linear-gradient(left, #ffffff, #a8a8a9);
    }
</style>

<div class="jumbotron card card-image center-block">
    <h1 class="text" style=" color: #ffffff; text-shadow: 5px 2px 4px #000000; font-family: 'Berlin Sans FB'">See võiks olla Sinu taimegalerii,</h1>
    <h3 class="text" style=" color: #ffffff; text-shadow: 5px 2px 4px #000000; font-family: 'Berlin Sans FB'">ehk koht, kus hoida oma aia pilte ja tähelepanekuid!</h3>
    <p><a href="@Url.Action("Register", "Account")" class="btn btn-danger btn-lg">Loo konto &raquo;</a></p>
</div>

<h1 class="text-center  text-uppercase" style= "font-family: 'Berlin Sans FB'">Siin on meie kasutajate taimed</h1>

<div class="row">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
            <!-- Indicators -->
            @*<ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                </ol>*@

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="https://images.unsplash.com/photo-1536964310528-e47dd655ecf3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1113&q=80" class="d-block" />
                    @*<div class="carousel-captiond">
                        <h1 style=" color: #ffffff; text-shadow: 5px 2px 4px #000000; font-family: 'Berlin Sans FB'">VAATA KASUTAJA POSTITUST</h1>
                        <p> @Html.ActionLink("Link postitusele", "Details", "Posts", new { id = item.Id }, null)</p>
                    </div>*@

                </div>
                @foreach (var item in ViewBag.Posts)
                {
                    <div class="item">
                        <img src="@Url.Action("Content", "My", new { id = item.PictureId })" class="d-block" />
                        <div class="carousel-caption">
                            <h1 style=" color: #ffffff !important; text-shadow: 5px 2px 4px #000000; font-family: 'Berlin Sans FB'">
                                
                                @Html.ActionLink("Vaata postitust", "Details", "Posts", new { id = item.Id,}, new {style="color:#ffffff" })
                            </h1>
                        </div>
                    </div>
                }
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<style>
    .img{
           
    }
    .carousel-inner{
       height: 460px;
       
    }
    .d-block {
  display: block !important;
  /*added this below*/
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    .carousel-caption {
    padding: 50px;
    width:100%;
    height:100%;
    left:0 !important;
}
   
    
</style>

<!--Optional JavaScript, jQ first, then Popper, then BS-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
