﻿@model IEnumerable<Esimene_2._0.Models.AspNetUser>


@using Esimene_2._0.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <td>
            Rollid
        </td>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @*Tal on rollid: @string.Join(",", item.AspNetRoles.Select(x => x.Name).ToList())*@
                @*@Html.ActionLink("Lisa roll","AddRole", new { id=item.AspNetRoles})*@
                @*@Html.ActionLink(item.Name, "AddRole", new { id = Model.id, roleId = item.Id })*@

                @if (!User.IsInRole("Administrator"))
                {

                    foreach (AspNetRole r in item.AspNetRoles)
                    {
                        <p>@Html.ActionLink("Lisa ", "AddRole", new { id = item.Id, roleId = r.Id, ret = "Index" })</p>
                        <p>@r.Name</p>
                    }
                }
                else
                {
                    foreach (AspNetRole r in item.AspNetRoles)
                    {
                        <p> @Html.ActionLink("Eemalda ", "RemoveRole", new { id = item.Id, roleId = r.Id, ret = "Index" }) </p>
                        <p>@r.Name</p>
                    }
                }
            </td>
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
   

</table>
