﻿@model Esimene_2._0.Models.Post

@{
    ViewBag.Title = "Delete";
}

<h1 style="color:#d9534f; font-family: 'Berlin Sans FB'">Hoiatus!</h1>

<h3 style="font-family: 'Berlin Sans FB'">Kas oled kindel, et soovid oma postituse kustutada?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Person.Email)*@
            Postituse lisas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Created)*@
            Kuupäev
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Subject.Name)*@
            Kategooria
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Nimi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Content)*@
            Sisu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Access)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Access)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)*@
        @*</dd>*@
        <dt>
            @*@Html.DisplayNameFor(model => model.DataFile.ContentType)*@
            Pilt
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.DataFile.ContentType)*@
            <img src="@Url.Action("Content", "My", new { id = Model.PictureId })" height="80" />
        </dd>

        <h4></h4>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <dd class="form-actions no-color">
                <input type="submit" value="Kustusta postitus jäädavalt" class="btn btn-danger" />


            </dd>
            <h4></h4>
            <dd class="form-actions no-color">
                @Html.ActionLink("Tagasi nimekirja", "Index")
            </dd>


        }

    </dl>

    
    <style>
        body {
            background: -webkit-linear-gradient(left, #ffffff, #a8a8a9);
        }

        .profile-head h2 {
            color: #d9534f;
        }
    </style>
</div>
