﻿@model Esimene_2._0.Models.Post

@{
    ViewBag.Title = "Details";
}

<h1></h1>


<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="@Url.Action("Content", "My", new { id = Model.PictureId })" height="80" alt="" />

                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">

                    @*<h3 style="font-family: 'Berlin Sans FB'">
                        @Html.DisplayNameFor(model => model.Subject.Name)
                        Kategooria : <p> @Html.DisplayFor(model => model.Subject.Name)</p>
                    </h3>*@
                    <br />
                    <h3 style="font-family: 'Berlin Sans FB'">
                        @Html.DisplayFor(model => model.Title)
                    </h3>
                    <p>
                        @Html.DisplayFor(model => model.Content)
                    </p>

                </div>
            </div>
            @*<div class="col-md-2">
                <p>
                    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id })
                 </p>
                <p>
                    @Html.ActionLink("Tagasi nimekirja", "Index")
                </p>
              
            </div>*@
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
        </div>

    </form>
</div>

<style>
    body {
        background: -webkit-linear-gradient(left, #ffffff, #a8a8a9);
    }

    .emp-profile {
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
    }

    .profile-img {
        text-align: center;
        border: 4px solid #5cb85c;
    }

        .profile-img img {
            width: 100%;
            height: 100%;
        }

        .profile-img .file {
            position: relative;
            overflow: hidden;
            margin-top: -20%;
            width: 70%;
            border: none;
            border-radius: 0;
            font-size: 15px;
            background: #212529b8;
        }

            .profile-img .file input {
                position: absolute;
                opacity: 0;
                right: 0;
                top: 0;
            }

    .profile-head h2 {
        color: #000000;
    }

    .profile-head h6 {
        color: #000000;
    }

    .profile-edit-btn {
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }


    .profile-head .nav-tabs {
        margin-bottom: 5%;
    }

        .profile-head .nav-tabs .nav-link {
            font-weight: 600;
            border: none;
        }

            .profile-head .nav-tabs .nav-link.active {
                border: none;
                border-bottom: 2px solid #0062cc;
            }

    .profile-tab label {
        font-weight: 600;
    }

    .profile-tab p {
        font-weight: 600;
        color: #0062cc;
    }
</style>

