﻿@model IEnumerable<Esimene_2._0.Models.Post>

@{
    ViewBag.Title = "Index";
}
    <style>
        body {
            background: -webkit-linear-gradient(left, #ffffff, #a8a8a9);
        }
    </style>

    <br />
<h1 style= "font-family: 'Berlin Sans FB'">Taimegalerii</h1>
<p>
    @Html.ActionLink("Siit lisa uus vinge postitus", "Create")
</p>
<br />

<table class="table">
    <tr>
        <th>
            Pilt
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Title)*@
            Nimi
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Subject.Name)*@
            Kategooria
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.Content)*@
            Sisu
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Access)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.DataFile.ContentType)*@
            @*Pilt*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Person.FullName)*@
            Kasutaja
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Created)
        </th>*@

        <th></th>
    </tr>

    @foreach (var item in Model)
    {


<tr>
    <td>
        <img src="@Url.Action("Content", "My", new { id = item.PictureId })" height="80" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Subject.Name)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Content)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.Access)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>*@
    <td>
        @*@Html.DisplayFor(modelItem => item.DataFile.ContentType)*@
    </td>
    <td>
        @if (User.IsInRole("Administrator") || ViewBag.CurrentPerson.Id == item.OwnerId)
        {
            @Html.ActionLink(item.Person.FullName, "Details", "People", new { id = item.OwnerId }, null)

            <img class="img-circle" src="@Url.Action("Content", "My", new { id = item.Person.PictureId })" height="50" />
        }
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>*@
    <td>
        @if (User.IsInRole("Administrator") || ViewBag.CurrentPerson.Id == item.OwnerId)
        {
    <td>

        @Html.ActionLink("Vaata", "Details", new { id = item.Id })
        @Html.ActionLink("Muuda", "Edit", new { id = item.Id })
        @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
    </td>
    }
    </tr>
        }

</table>
