﻿@model IEnumerable<Esimene_2._0.Models.Post>

<br />
<br />
@using (Html.BeginForm("Otsi", "Posts", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input type="submit" value="Otsi lehelt" />

}
<br />

<table class="table table-striped">
    <thread>
        <tr>
            <th>Pilt</th>
            <th>Nimi</th>
            <th>Kategooria</th>
            <th>Sisu</th>
            @*<th>Created</th>*@
            <th>Postitaja</th>

        </tr>
    </thread>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    Ei leidnud midagi!
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td><img src="@Url.Action("Content", "My", new { id = item.PictureId })" height="120" /></td>
                    <td>@Html.ActionLink(item.Title, "Details", "Posts", new { id = item.Id }, null)</td>
                    <td>@item.Subject.Name</td>
                    <td>@item.Content</td>
                    @*<th>@item.Created</th>*@
                    <td>
                        @Html.ActionLink(item.Person.FullName, "Details", "People", new { id = item.OwnerId }, null)

                        <img class="img-circle" src="@Url.Action("Content", "My", new { id = item.Person.PictureId })" height="50" />
                    </td>


                </tr>
            }
        }
        @Html.ActionLink("Tagasi nimekirja", "Otsi", "Posts")
    <br />
    </tbody>
    <br />
</table>
